@model IEnumerable<MovieDatabase.Models.MovieListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your movies</h2>

<p>
    @Html.ActionLink("Add a new movie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveWatched)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStarred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieQuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(e =>
{
    if (e.Title != null)
    {
        return e.Title;
    }
    else return e.Title;
}))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveWatched)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStarred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieQuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.MovieId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieId })
        </td>
    </tr>
}

</table>
